@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div id="elencoCompany" class="col-md-6">
        Caricamento....
    </div>
    <div class="col-md-6">
        <table id="elencoContatti" class="table"></table>
    </div>
</div>

@section scripts {
    <script>
        $.ajax({
            url: '@Url.Action("List", "Company")',
            method: 'get'
        })
        .done(function(risposta) {
            $('#elencoCompany').html(risposta);
            $('#tbl-company > tbody > tr').mouseover(function () {
                console.log();
                $.ajax({
                    url: '@Url.Action("ListByCompany", "Contact")?companyId=' + $(this).data('companyid'),
                    method: 'get'
                })
                .done(function (contatti) {
                    console.log(contatti);
                    caricaContatti(contatti);
                });
            });
        });



        function caricaContatti(contatti) {
            $('#elencoContatti').DataTable({
                data: contatti,
                destroy: true,
                scrollY: '300px',
                paging: false,
                columns: [
                    {
                        title: 'Nome completo',
                        data: 'NomeCompleto'
                    }, {
                        title: 'Azienda',
                        data: 'Company.Nome'
                    }, {
                        title: 'Data nascita',
                        data: 'DataNascita',
                        render: function (data, type, row, meta) {
                            return '<span class="pippo">' + new Date(row.DataNascita.match(/\d+/)[0] * 1).toLocaleDateString() + '</span>';
                        }
                    }
                ]
            });
        }
    </script>
}
