@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div id="elencoCompany" class="col-md-6">
        Caricamento....
    </div>
    <div class="col-md-6">
        <table id="elencoContatti" class="table"></table>
    </div>
</div>

@section scripts {
    <script>
        $.ajax({
            url: '@Url.Action("List", "Company")',
            method: 'get'
        })
        .done(function(risposta) {
            $('#elencoCompany').html(risposta);
        });

        $.ajax({
            url: '@Url.Action("List", "Contact")',
            method: 'get'
        })
        .done(function (contatti) {
            console.log(contatti);
            $('#elencoContatti').DataTable({
                data: contatti,
                columns: [
                    {
                        title: 'Nome completo',
                        data: 'NomeCompleto'
                    }, {
                        title: 'Azienda',
                        data: 'Company.Nome'
                    }, {
                        title: 'Data nascita',
                        data: 'DataNascita',
                        render: function (data, type, row, meta) {
                            return '<span class="pippo">' + new Date(row.DataNascita.match(/\d+/)[0] * 1) + '</span>';
                        }
                    }
                ]
            });
        });
    </script>
}
