@model IEnumerable<Giorno1Oggetti.Company>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <!-- questo commento HTML rimane nella pagina generata -->
    @* questo è un commento Razor *@
    @Html.ActionLink("Nuova company", "Create")
</p>


@Html.Partial("_List")

@Html.ActionLink("Pippo Testo", "Pippo", new { id = "ciao", b = "buongiorno" })